* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  gap: 5px 5px 5px;
  width: 100%;
  max-height: 500px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.h2-form {
 margin-left: 15px;
}

#btn-agregarproducto {
    gap: 10px;
    width: 15%;
    margin-left: 300px;
    margin-top: 30px;

}

.form-control {
    width: 50%;
}

.form-select {
    width: 50%
}

#footer {
    text-align: right;
    margin-right: 15px;
}