* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --colorPrimario: white;
    --colorSecundario: #343a40;
    --colorBoton: rgb(161, 36, 36) !important;
    --colorBotonHover: rgb(175, 82, 82) !important;
}

.btn-primary{
    background-color: var(--colorBoton);
    border-color: var(--colorSecundario);
}

.btn-primary:hover{
    background-color:var(--colorBotonHover);
    border-color: var(--colorSecundario);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px 5px 5px;
  width: 100%;
  max-height: 500px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#btn-agregarproducto {
    gap: 10px;
    width: 15%;
    margin-top: 30px;

}

.form-control {
    width: 50%;
}

.form-select {
    width: 50%
}